@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");

body {
  font-family: "Comfortaa";
}

.title {
  margin-block-start: 0.2em;
  border-radius: 12px;
  margin-block-end: 0.2em;
  color: #0c2d48;
  grid-area: title;
  text-align: center;
  padding: 2rem;
  /* font-family: "Cutive", serif; */
  /* font-family: "Playfair Display", serif; */
  font-size: 2.37rem;
}

.content {
  border-radius: 12px;
  color: #05445e;
  grid-area: content;
  text-align: center;
}

.container {
  font-size: 1.25em;
  display: grid;
  grid-template-rows: 50px auto 1fr;
  grid-gasp: 10px;
  grid-template-areas:
    "title"
    "content";
}

@media (min-width: 200px) {
  .container {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title"
      "content";
  }
}

@media (min-width: 200px) {
  .container {
    grid-template-areas:
      "title"
      "content";
  }
}

.user-location {
  padding: 10px;
  padding-top: 15px;
}

#data-watertype {
  font-size: 1.9rem;
}

#current-location {
  display: block;
  font-weight: bold;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#current-temp {
  font-weight: bold;
  font-size: 3.5em;
  margin-block-start: 0.35em;
  margin-block-end: 0.35em;
  margin-left: 0;
  margin-top: 0.4em;
}

#icon-watertype22 {
  max-width: 70px;
}

.location-icon {
  max-width: 100%;
  height: auto;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.more-information {
  white-space: pre-line;
}

.cel,
.fer {
  margin-left: 10px;
  margin-right: 10px;
}

.toggle-btn {
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.toggle-btn.active {
  background: #00acee;
}
.toggle-btn.active > .inner-circle {
  margin-left: 40px;
}

.hide-weather-info .weather-info {
    visibility: hidden;
}
